.container {
    width: 800px;
    min-height: 800px;
    margin: 100px auto;
}

footer {
    width: 800px;
    height: 100px;
    background: rgb(222, 222, 222);
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}

footer a {
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

.header {
    display: flex;
    height: 230px;
}

.title-name {
    display: flex;
    width: 65%; 
    height: 100%;
    font-size: 18px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 222, 222);
}

.foto {
    display: flex;
    width: 35%;
    height: 100%;
    background: url(img.jpg) no-repeat center center / cover;
}

.content {
    display: flex;
}

.about-me {
    width: 65%;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
}

.my-skills {
    width: 35%;
    padding: 20px;
    font-size: 18px;
}

.skills li:hover {
    transform: translateX(10px);
}

.skills li {
    margin-top: 5px;
    transition: transform .5s ease;
}

.education-work {
    display: flex;
}

.education {
    width: 65%;
    padding: 20px;
    font-size: 18px;
    text-align: justify; 
}

.educ li:hover {
    transform: translateX(10px);
}

.educ li {
    margin-top: 5px;
    transition: transform .5s ease;
}

.work {
    width: 35%;
    padding: 20px;
    font-size: 18px;
}

.contacts-english {
    display: flex;
}

.contacts {
    width: 65%;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
}

.cont li:hover {
    transform: translateX(10px);
}

.cont li {
    margin-top: 5px;
    transition: transform .5s ease; 
}

.english {
    width: 35%;
    padding: 20px;
    font-size: 18px;
}